* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  .carousel {
    background: #eee;
    margin: 10%;
  
    .carousel-cell {
      margin-right: 20px;
      overflow: hidden;
  
      img {
        display: block;
        height: 200px;
  
        @media screen and (min-width: 768px) {
          height: 400px;
        }
      }
    }
  }
}
